## bai tap 4.2 trang 238 _ buoi1 pandas

In [1]:
import numpy as np 
import pandas as pd

In [5]:
mylist = list ('qwertyuiopasdfghjklzxcvbnm')
myarr = np.arange(26)
mydict= dict(zip(mylist,myarr))
ser =pd.Series(mydict)
ser 
data=pd.DataFrame(ser)
data_1=data.T
data_1

   q  w  e  r  t  y  u  i  o  p  ...   j   k   l   z   x   c   v   b   n   m
0  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25

[1 rows x 26 columns]